<phpunit convertErrorsToExceptions="true" colors="true">

    <testsuites>
        <testsuite name="All">
            <directory>./patterns/01_Factory/tests/phpunit/</directory>
            <directory>./patterns/02_Builder/tests/phpunit/</directory>
            <directory>./patterns/03_Dependency_Injection/tests/phpunit/</directory>
            <directory>./patterns/04_Value_Object/tests/phpunit/</directory>
            <directory>./patterns/05_Named_Constructors/tests/phpunit/</directory>
            <directory>./patterns/06_Immutability/tests/phpunit/</directory>
            <directory>./patterns/07_Decorator/tests/phpunit/</directory>
            <directory>./patterns/08_Memento/tests/phpunit/</directory>
            <directory>./patterns/09_PubSub/tests/phpunit/</directory>
            <directory>./patterns/10_Observer/tests/phpunit/</directory>
        </testsuite>
    </testsuites>

</phpunit>
